* {
  margin: 0;
  padding: 0;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100%;
  height: 100px;
  background-color: #91068f;
}
.brand a img {
  padding-left: 30px;
  color: white;
  width: 50px;
  height: 40px;
}
.print {
  color: white;
  font-size: 30px;
  padding-left: 20px;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.wrappers input {
  font-size: 15px;
}
.wrappersr input {
  margin-left: 280px;
  font-size: 15px;
}
.cont {
  justify-content: center;
  display: flex;
  margin-top: 20px;
}
.conta {
  display: flex;
  justify-content: center;
}
.dar {
  font-size: 20px;
}
.dars {
  font-size: 20px;
  margin-left: 300px;
}
.produk {
  font-size: 20px;
}
.bt {
  margin-top: 20px;
  text-align: center;
}
.bt button {
  background-color: rgb(164, 89, 209);
  font-size: 25px;
  padding: 15px 30px;
  width: 40%;
  border: none;
  border-radius: 50px;
  color: white;
}
.co {
  display: flex;
  margin-top: 30px;
  justify-content: center;
}
.bu button {
  background-color: rgb(191, 114, 235);
  font-size: 25px;
  width: 500px;
  border: 1px solid rgb(193, 109, 241);
  color: white;
}
.but {
  margin-left: 50px;
}
.but button {
  background-color: rgb(160, 160, 7);
  font-size: 25px;
  width: 500px;
  border: none;
  color: white;
  border: 1px solid rgb(137, 137, 7);
}
.bus button {
  background-color: rgb(113, 4, 113);
  font-size: 25px;
  width: 350px;
  border: none;
  color: white;
}
.buts {
  margin-left: 50px;
}
.buts button {
  background-color: rgb(113, 4, 113);
  font-size: 25px;
  width: 350px;
  border: none;
  color: white;
}
hr {
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 84%;
}
.busi button {
  background-color: white;
  font-size: 25px;
  width: 350px;
  border: none;
  color: white;
}
.butsi button {
  font-size: 25px;
  width: 350px;
  margin-left: 50px;
  padding-left: 200px;
}
.butsii button {
  font-size: 25px;
  width: 350px;
  margin-left: 50px;
  padding-left: 180px;
}
.butsiii button {
  font-size: 25px;
  width: 350px;
  margin-left: 50px;
  padding-left: 110px;
}
.butst input {
  font-size: 20px;
  width: 350px;
  margin-left: 50px;
  text-align: right;
}
.coll {
  justify-content: center;
  display: flex;
  margin-top: 10px;
}
.collsat {
  justify-content: center;
  display: flex;
  margin-top: 15px;
}
.colldu {
  margin-top: 2px;
  justify-content: center;
  display: flex;
}
footer {
  margin-top: auto;
}
.contai {
  width: 100%;
  height: 100px;
}
.box {
  background-color: rgba(165, 89, 209, 0.779);
  display: flex;
  justify-content: center;
}
.box > a > img {
  padding: 20px 50px 0px 50px;
  width: 50px;
}
.box p {
  padding: 5px 38px 20px 38px;
  font-size: 20px;
}
