* {
  margin: 0;
  padding: 0;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100%;
  height: 100px;
  background-color: #91068f;
}
.brand a img {
  padding-left: 30px;
  color: white;
  width: 50px;
  height: 40px;
}
.print {
  color: white;
  font-size: 30px;
  padding-left: 20px;
}
.gr {
  display: flex;
  justify-content: center;
}
.bt button {
  margin-top: 20px;
  background-color: white;
  font-size: 25px;
  border: 5px solid rgb(164, 89, 209);
  border-radius: 50px;
  color: black;
  height: 50px;
  width: 400px;
  box-shadow: 1px 10px 0px rgba(56, 51, 59, 0.142);
}
.bts button {
  height: 50px;
  width: 400px;
  margin-top: 20px;
  margin-left: 50px;
  background-color: rgb(164, 89, 209);
  font-size: 25px;
  border: none;
  border-radius: 50px;
  color: white;
  box-shadow: 1px 10px 0px rgba(56, 51, 59, 0.142);
}
.wrappers {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 20px;
}
.wrappersr {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 20px;
  margin-left: 70px;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.cont {
  justify-content: center;
  display: flex;
  margin-top: 20px;
}
.conta {
  display: flex;
  justify-content: center;
}
.dar {
  font-size: 20px;
}
.dars {
  font-size: 20px;
  margin-left: 200px;
}
.produk {
  font-size: 20px;
}
.one ion-icon {
  padding-top: 3px;
  font-size: 25px;
}
.co {
  display: flex;
  margin-top: 30px;
  justify-content: center;
}
.bu a button {
  background-color: rgb(191, 114, 235);
  font-size: 25px;
  width: 500px;
  border: 1px solid rgb(193, 109, 241);
  color: white;
}
.but {
  margin-left: 50px;
}
.but button {
  background-color: rgb(160, 160, 7);
  font-size: 25px;
  width: 500px;
  border: none;
  color: white;
  border: 1px solid rgb(137, 137, 7);
}
.wrap {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-top: 20px;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 20px;
  height: 50px;
  background-color: white;
  box-shadow: -10px 1px 10px rgb(193, 188, 188);
}
.bran img {
  padding-left: 30px;
  color: white;
  width: 25px;
  height: 25px;
  padding-right: 20px;
}
.prints {
  color: rgba(0, 0, 0, 0.402);
  font-size: 25px;
}
.co {
  display: flex;
  justify-content: center;
}
.bu button {
  background-color: rgb(191, 114, 235);
  font-size: 25px;
  width: 500px;
  border: 1px solid rgb(193, 109, 241);
  color: white;
}
.but {
  margin-left: 50px;
}
.but button {
  background-color: rgb(160, 160, 7);
  font-size: 25px;
  width: 500px;
  border: none;
  color: white;
  border: 1px solid rgb(137, 137, 7);
}
.bus button {
  background-color: rgb(113, 4, 113);
  font-size: 25px;
  width: 350px;
  border: none;
  color: white;
}
.buts {
  margin-left: 10px;
}
.buts button {
  background-color: rgb(113, 4, 113);
  font-size: 25px;
  width: 350px;
  border: none;
  color: white;
}
.barsat {
  display: flex;
  margin-top: 15px;
  justify-content: center;
}
.bardu {
  display: flex;
  margin-top: 5px;
  justify-content: center;
}
.busat button {
  padding-left: 10px;
  text-align: left;
  font-size: 20px;
  width: 350px;
  color: black;
}
.butsat {
  margin-left: 10px;
}
.butsat button {
  padding-right: 10px;
  text-align: right;
  font-size: 20px;
  width: 350px;
  color: black;
}
footer {
  margin-top: auto;
}
.contai {
  width: 100%;
  height: 100px;
}
.box {
  background-color: rgba(165, 89, 209, 0.779);
  display: flex;
  justify-content: center;
}
.box > a > img {
  padding: 20px 50px 0px 50px;
  width: 50px;
}
.box p {
  padding: 5px 38px 20px 38px;
  font-size: 20px;
}
