* {
  margin: 0;
  padding: 0;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100%;
  height: 100px;
  background-color: #91068f;
}
.brand a img {
  padding-left: 30px;
  color: white;
  width: 50px;
  height: 40px;
}
.print {
  color: white;
  font-size: 30px;
  padding-left: 20px;
}
.gr {
  display: flex;
  justify-content: center;
}
.bt button {
  margin-top: 20px;
  background-color: white;
  font-size: 25px;
  border: 5px solid rgb(164, 89, 209);
  border-radius: 50px;
  color: black;
  height: 50px;
  width: 400px;
  box-shadow: 1px 10px 0px rgba(56, 51, 59, 0.142);
}
.bts {
  margin-top: 30px;
  margin-left: 50px;
}
.bts a {
  padding: 10px 160px;
  color: white;
  background-color: rgb(164, 89, 209);
  font-size: 25px;
  border-radius: 50px;
  text-decoration: none;
  box-shadow: 1px 10px 0px rgba(56, 51, 59, 0.142);
}
.popup {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
}
.popup-content {
  height: 600px;
  width: 1200px;
  background: #fff;
  padding: 20px;
}
.kembali {
  display: flex;
  align-items: center;
  justify-content: right;
}
.tanda img {
  padding-left: 30px;
  color: white;
  width: 50px;
  height: 40px;
}
.kembali2 p {
  color: black;
  font-size: 30px;
  padding-left: 20px;
  padding-right: 50px;
}
.cetak {
  margin-top: 20px;
  text-align: center;
}
.cetak button {
  background-color: #91068f;
  font-size: 25px;
  padding: 15px 30px;
  width: 40%;
  border: none;
  border-radius: 10px;
  color: white;
}
.bl {
  margin-top: 20px;
  text-align: center;
  font-size: 20px;
}
.baris2 {
  margin-top: 10px;
}
.transaksi {
  display: flex;
  justify-content: center;
  text-align: left;
}
.tanggal {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  text-align: right;
}
.satu button {
  padding-left: 10px;
  text-align: left;
  width: 300px;
  background-color: #91068f;
  font-size: 15px;
  color: white;
  border: none;
}
.dua button {
  padding-right: 10px;
  margin-left: 30px;
  text-align: right;
  width: 700px;
  background-color: white;
  font-size: 15px;
  color: black;
  border: none;
}
.baris3 {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.produk1 button {
  text-align: center;
  width: 400px;
  background-color: #6a0368;
  font-size: 20px;
  color: white;
  border: none;
}
.qty button {
  margin-left: 10px;
  text-align: center;
  width: 100px;
  background-color: #6a0368;
  font-size: 20px;
  color: white;
  border: none;
}
.harga button {
  margin-left: 10px;
  text-align: center;
  width: 200px;
  background-color: #6a0368;
  font-size: 20px;
  color: white;
  border: none;
}
.sub button {
  margin-left: 10px;
  text-align: center;
  width: 300px;
  background-color: #6a0368;
  font-size: 20px;
  color: white;
  border: none;
}
.baris4 {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.produk2 button {
  padding-left: 10px;
  text-align: left;
  width: 400px;
  background-color: white;
  font-size: 20px;
  color: black;
  border: none;
}
.qty1 button {
  margin-left: 10px;
  padding-right: 10px;
  text-align: right;
  width: 100px;
  background-color: white;
  font-size: 20px;
  color: black;
  border: none;
}
.harga1 button {
  margin-left: 10px;
  padding-right: 10px;
  text-align: right;
  width: 200px;
  background-color: white;
  font-size: 20px;
  color: black;
  border: none;
}
.sub1 button {
  margin-left: 10px;
  padding-right: 10px;
  text-align: right;
  width: 300px;
  background-color: white;
  font-size: 20px;
  color: black;
  border: none;
}
hr {
  margin: 25px auto;
  width: 1030px;
}
.baris7 {
  margin: auto;
  width: 1040px;
  height: 70px;
  background-color: white;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.523);
}
.baris5 {
  padding-top: 10px;
  display: flex;
  justify-content: center;
}
.produk3 button {
  padding-right: 10px;
  text-align: right;
  width: 725px;
  background-color: white;
  font-size: 20px;
  color: black;
  border: none;
}
.qty2 button {
  margin-left: 10px;
  padding-right: 10px;
  text-align: right;
  width: 300px;
  background-color: white;
  font-size: 20px;
  color: black;
  border: none;
}
.baris6 {
  display: flex;
  justify-content: center;
}
.produk4 button {
  padding-right: 10px;
  text-align: right;
  width: 725px;
  background-color: #91068f;
  font-size: 20px;
  color: white;
  border: none;
}

.wrappers {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 20px;
}
.wrappersr {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 20px;
  margin-left: 70px;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.cont {
  justify-content: center;
  display: flex;
  margin-top: 20px;
}
.conta {
  display: flex;
  justify-content: center;
}
.dar {
  font-size: 20px;
}
.dars {
  font-size: 20px;
  margin-left: 200px;
}
.produk {
  font-size: 20px;
}
.one ion-icon {
  padding-top: 3px;
  font-size: 25px;
}
.co {
  display: flex;
  margin-top: 30px;
  justify-content: center;
}
.bu a button {
  background-color: rgb(191, 114, 235);
  font-size: 25px;
  width: 500px;
  border: 1px solid rgb(193, 109, 241);
  color: white;
}
.but {
  margin-left: 50px;
}
.but button {
  background-color: rgb(160, 160, 7);
  font-size: 25px;
  width: 500px;
  border: none;
  color: white;
  border: 1px solid rgb(137, 137, 7);
}
.wrap {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-top: 20px;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 20px;
  height: 50px;
  background-color: white;
  box-shadow: -10px 1px 10px rgb(193, 188, 188);
}
.bran img {
  padding-left: 30px;
  color: white;
  width: 25px;
  height: 25px;
  padding-right: 20px;
}
.prints {
  color: rgba(0, 0, 0, 0.402);
  font-size: 25px;
}
.co {
  display: flex;
  justify-content: center;
}
.bu button {
  background-color: rgb(191, 114, 235);
  font-size: 25px;
  width: 500px;
  border: 1px solid rgb(193, 109, 241);
  color: white;
}
.but {
  margin-left: 50px;
}
.but button {
  background-color: rgb(160, 160, 7);
  font-size: 25px;
  width: 500px;
  border: none;
  color: white;
  border: 1px solid rgb(137, 137, 7);
}
.bus button {
  background-color: rgb(113, 4, 113);
  font-size: 25px;
  width: 350px;
  border: none;
  color: white;
}
.buts {
  margin-left: 10px;
}
.buts button {
  background-color: rgb(113, 4, 113);
  font-size: 25px;
  width: 350px;
  border: none;
  color: white;
}
.barsat {
  display: flex;
  margin-top: 15px;
  justify-content: center;
}
.bardu {
  display: flex;
  margin-top: 5px;
  justify-content: center;
}
.barduk {
  display: flex;
  margin-top: 5px;
  justify-content: center;
  margin-bottom: 30px;
}
.busat button {
  padding-left: 10px;
  text-align: left;
  font-size: 20px;
  width: 350px;
  color: black;
}
.butsat {
  margin-left: 10px;
}
.butsat button {
  padding-right: 10px;
  text-align: right;
  font-size: 20px;
  width: 350px;
  color: black;
}
footer {
  margin-top: auto;
}
.contai {
  width: 100%;
  height: 100px;
}
.box {
  background-color: rgba(165, 89, 209, 0.779);
  display: flex;
  justify-content: center;
}
.box > a > img {
  padding: 20px 50px 0px 50px;
  width: 50px;
}
.box p {
  padding: 5px 38px 20px 38px;
  font-size: 20px;
}
