* {
    margin: 0;
    padding: 0;
  }
main{
  background-color: #f5e8f4;
}
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    height: 80px;
    background-color: #91068f;
  }
  .brand img {
    padding-left: 30px;
    color: white;
    width: 50px;
    height: 40px;
  }
  .print {
    color: white;
    font-size: 30px;
    padding-left: 20px;
  }s
  .sl {
    color: white;
    font-size: 30px;
    padding-left: 20px;
  }
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  .wrappers {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 20px;
  }
  .wrappersr {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 20px;
    margin-left: 200px;
  }
  .cont {
    justify-content: center;
    display: flex;
    margin-top: 20px;
  }
  .conta {
    display: flex;
    justify-content: center;
  }
  .dar {
    font-size: 20px;
  }
  .dars {
    font-size: 20px;
    margin-left: 300px;
  }
  .produk {
    font-size: 20px;
  }
  .one ion-icon {
    padding-top: 3px;
    font-size: 25px;
  }
  .bt {
    margin-top: 20px;
    text-align: center;
  }
  .bt button {
    background-color: rgb(164, 89, 209);
    font-size: 25px;
    padding: 15px 30px;
    width: 40%;
    border: none;
    border-radius: 50px;
    color: white;
  }
  .bl{
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
  }
  .co {
    display: flex;
    margin-top: 30px;
    justify-content: center;
  }
  .bu button {
    background-color: rgb(191, 114, 235);
    font-size: 25px;
    width: 500px;
    border: 1px solid rgb(193, 109, 241);
    color: white;
  }
  .but {
    margin-left: 50px;
  }
  .but button {
    background-color: rgb(160, 160, 7);
    font-size: 25px;
    width: 500px;
    border: none;
    color: white;
    border: 1px solid rgb(137, 137, 7);
  }
  .bus button {
    background-color: rgb(113, 4, 113);
    font-size: 25px;
    width: 350px;
    border: none;
    color: white;
  }
  .buts {
    margin-left: 50px;
  }
  .buts button {
    background-color: rgb(113, 4, 113);
    font-size: 25px;
    width: 150px;
    border: none;
    color: white;
  }
  .bs {
    margin-left: 50px;
  }
  .bs button {
    background-color: rgb(113, 4, 113);
    font-size: 25px;
    width: 200px;
    border: none;
    color: white;
  }
  .kl button {
    background-color: rgb(245, 244, 245);
    font-size: 25px;
    width: 350px;
    border: none;
    color: rgb(32, 30, 30);
  }
  .kli {
    margin-left: 50px;
  }
  .kli button {
    background-color: rgb(245, 244, 245);
    font-size: 25px;
    width: 150px;
    border: none;
    color: black;
  }
  .bsi {
    margin-left: 50px;
  }
  .bsi button {
    background-color: rgb(245, 244, 245);
    font-size: 25px;
    width: 200px;
    border: none;
    color: black;
  }
  hr {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 84%;
  }
  .busi button {
    background-color: white;
    font-size: 25px;
    width: 350px;
    border: none;
    color: white;
  }
  .butsi button {
    font-size: 25px;
    width: 800px;
    margin-right: 250px;
    text-align: right;
  }
  .butst button {
    background-color: purple;
    font-size: 25px;
    width: 350px;
    color: white;
    margin-right: 500px;
    text-align: right;
  }
  
  .coll {
    justify-content: center;
    display: flex;
    margin-top: 10px;
  }
  .coll {
    justify-content: center;
    display: flex;
    margin-top: 10px;
  }
  footer {
    margin-top: auto;
  }
  .contai {
    width: 100%;
    height: 100px;
  }
  .box {
    background-color: rgba(165, 89, 209, 0.779);
    display: flex;
    justify-content: center;
  }
  .box > img {
    padding: 20px 50px 0px 50px;
    width: 50px;
  }
  .box p {
    padding: 5px 38px 20px 38px;
    font-size: 20px;
  }
  