* {
  margin: 0;
  padding: 0;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100%;
  height: 100px;
  background-color: #91068f;
}
.brand a img {
  padding-left: 30px;
  color: white;
  width: 50px;
  height: 40px;
}
.print {
  color: white;
  font-size: 30px;
  padding-left: 20px;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.co {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}
.cos {
  display: flex;
  margin-top: 10px;
  justify-content: center;
}
.bu button {
  background-color: rgb(237, 213, 237);
  font-size: 20px;
  width: 500px;
  border: 1px solid rgb(233, 99, 233);
  color: black;
  text-align: left;
  padding-left: 10px;
}
.buti button {
  background-color: white;
  font-size: 20px;
  width: 500px;
  color: black;
  border: 1px solid purple;
  text-align: right;
  margin-left: 50px;
  padding-right: 10px;
}
.butt {
  margin-top: 10px;
  text-align: right;
  padding-right: 160px;
}
.butt button {
  color: white;
  background-color: black;
  font-size: 20px;
  width: 200px;
  height: 40px;
  border: 1px solid black;
  border-radius: 15px;
}
.co {
  display: flex;
  margin-top: 30px;
  justify-content: center;
}
.buus button {
  background-color: purple;
  font-size: 20px;
  width: 300px;
  border: 1px solid purple;
  color: white;
}
.buuts {
  margin-left: 20px;
}
.buuts button {
  background-color: purple;
  font-size: 20px;
  width: 150px;
  border: none;
  color: white;
  border: 1px solid purple;
}
.buutss {
  margin-left: 20px;
}
.buutss button {
  background-color: purple;
  font-size: 20px;
  width: 200px;
  border: none;
  color: white;
  border: 1px solid purple;
}
.buutts {
  margin-left: 20px;
}
.buutts button {
  background-color: purple;
  font-size: 20px;
  width: 340px;
  border: none;
  color: white;
  border: 1px solid purple;
}
.bari {
  display: flex;
  margin-top: 10px;
  justify-content: center;
}
.baris {
  display: flex;
  margin-top: 5px;
  justify-content: center;
}
.satu button {
  text-align: left;
  padding-left: 10px;
  background-color: rgb(248, 213, 248);
  font-size: 20px;
  width: 300px;
  border: 1px solid black;
  color: black;
}
.dua {
  margin-left: 20px;
}
.dua button {
  background-color: rgb(248, 213, 248);
  font-size: 20px;
  width: 150px;
  border: none;
  color: black;
  border: 1px solid black;
}
.tiga {
  margin-left: 20px;
}
.tiga button {
  text-align: right;
  padding-right: 10px;
  background-color: rgb(248, 213, 248);
  font-size: 20px;
  width: 200px;
  border: none;
  color: black;
  border: 1px solid black;
}
.empat {
  margin-left: 20px;
}
.empat button {
  text-align: right;
  padding-right: 10px;
  background-color: rgb(248, 213, 248);
  font-size: 20px;
  width: 340px;
  border: none;
  color: black;
  border: 1px solid black;
}
.kolom {
  display: flex;
  margin-top: 30px;
  justify-content: center;
}
.kolo {
  display: flex;
  margin-top: 5px;
  margin-bottom: 100px;
  justify-content: center;
}
.one button {
  text-align: left;
  padding-left: 10px;
  font-size: 20px;
  width: 300px;
}
.two {
  margin-left: 20px;
}
.two button {
  text-align: right;
  padding-right: 10px;
  background-color: rgb(248, 213, 248);
  font-size: 20px;
  width: 370px;
  border: none;
  color: black;
  border: 1px solid black;
}
.twos {
  margin-left: 20px;
}
.twos button {
  text-align: right;
  padding-right: 10px;
  background-color: purple;
  font-size: 20px;
  width: 370px;
  border: none;
  color: white;
  border: 1px solid purple;
}
.three {
  margin-left: 20px;
}
.three button {
  text-align: right;
  padding-right: 10px;
  background-color: rgb(248, 213, 248);
  font-size: 20px;
  width: 340px;
  border: none;
  color: black;
  border: 1px solid black;
}
footer {
  margin-top: auto;
}
.contai {
  width: 100%;
  height: 100px;
}
.box {
  background-color: rgba(165, 89, 209, 0.779);
  display: flex;
  justify-content: center;
}
.box > a > img {
  padding: 20px 50px 0px 50px;
  width: 50px;
}
.box p {
  padding: 5px 38px 20px 38px;
  font-size: 20px;
}
